body {
    background-color: rgb(68, 131, 71); 
    }
    
    img{
       max-width: 100%;
        display: block;
        margin: 20px auto;
        width: 50%;
    }
    
    a {
        color: rgb(226, 168, 168);
    }
    
    a:hover {
        color: rgb(243, 169, 224);
    }
    
    #container {
        background-color: rgba(238, 221, 253, 0.904);
        width: 75%;
        margin: 20px auto;
        padding: 20px;
        border: 2px solid black;
    }
    
    header {
        font-size: 40px;
        text-align: center;
        color: rgb(228, 168, 198);
    }
    
    nav {
        text-align: center;
        background-color: white;
        padding: 20px 0;
        margin-top: 20px;
    }
    
    nav a {
       background-color: rgb(68, 131, 71) ;
        color:black (0, 0, 0);
        font-size: 22px;
        padding: 15px 50px;
        margin: 0 20px;
    }
    
    nav a:hover {
        color: rgb(248, 166, 223);
        text-decoration: none;
    }
    
    main {
        background-color: white (255, 255, 255);
        margin: 20px;
        padding: 20px;
        border: 2px solid black;
    }
    main h1 {
text-emphasis: center;
    }
    
   main img {
        display: block;
        width: 75%;
        margin: 20px auto;
    border-radius: 20px;
        border: 2px solid black;
        box-shadow: 5px 10px 10px black;
    
    }

    footer {
        padding: 20px;
        text-align: center;
        color: black;
    }