body {
    background-color: rgb(68, 131, 71); 
    }
    
    img{
       max-width: 100%;
        display: block;
        margin: 20px auto;
        width: 50%;
    }
    
    a {
        color: black;
    }
    
    a:hover {
        color: rgb(243, 169, 224);
    }
    
    #container {
        background-color: rgba(184, 122, 243, 0.904);
        width: 75%;
        margin: 20px auto;
        padding: 20px;
        border: 2px solid black;
    }
    
    header {
        font-size: 40px;
        text-align: center;
        color: rgb(228, 168, 198);
    }
    
    nav {
        text-align: center;
    }
    
    nav a {
        color: rgb(243, 161, 195);
        font-size: 22px;
        margin: 0 20px;
    }
    
    nav a:hover {
        color: rgb(248, 166, 223);
        text-decoration: none;
    }
    
    main {
        background-color: rgb(248, 136, 229);
        margin: 20px;
        padding: 20px;
        border: 2px solid black;
    }
    
    img {
        border: 2px solid black
        border-radius: blueviolet 20px;
    }
    footer {
        padding: 20px;
        text-align: center;
        color: black;
    }